# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Env / secrets
.env
.env.local
*.secret

# Local data
data/
!data/.gitkeep    # (optional) keep the folder structure if you want
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
